[project]
	description = DNS server with per-client targeted responses
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ask Bjørn Hansen (abh)
[access "refs/for/refs/*"]
	read = group user/Ask Bjørn Hansen (abh)
	push = group user/Ask Bjørn Hansen (abh)
	label-Code-Review = -2..+2 group user/Ask Bjørn Hansen (abh)
	label-Verified = -1..+1 group user/Ask Bjørn Hansen (abh)
	rebase = group user/Ask Bjørn Hansen (abh)
	removeReviewer = group user/Ask Bjørn Hansen (abh)
	submit = group user/Ask Bjørn Hansen (abh)
[access "refs/heads/*"]
	read = group user/Ask Bjørn Hansen (abh)
	create = group user/Ask Bjørn Hansen (abh)
	push = +force group user/Ask Bjørn Hansen (abh)
	pushMerge = group user/Ask Bjørn Hansen (abh)
[access "refs/tags/*"]
	push = +force group user/Ask Bjørn Hansen (abh)
	pushTag = group user/Ask Bjørn Hansen (abh)
	pushSignedTag = group user/Ask Bjørn Hansen (abh)
